.dropdown-menu {
  .dropdown-toggle,
  .dropdown-item {
    white-space: normal;
    user-select: none;
  }

  .dropdown-item {
    h6 {
      font-weight: 700;
    }

    .small {
      font-size: 0.85em;
    }

    &.disabled {      
      &.active {
        background-color: #9a9a9a;
        color: #fff;
      }
    }
  }
}
